<!DOCTYPE html>
<html>

<style>
  table, th, td {
  border: 1px solid black;
    border-collapse: collapse;
  }
  tr:nth-child(odd) {
  background-color: #C4F5F9;
  }
  td {
    text-align: center;
  }
  th, td {
  padding: 5px;
  }
</style>

<head>
  <title>Baseball Webapp</title>
</head>
<body>
  <form method="GET" action="/">
    <button>Home</button>
  </form>
  <h2>Saved Users</h2>
<table>
  <thead>
        <th style="background-color: #81D2D8">User</th>
        <th style="background-color: #81D2D8">Total Searches</th>
        {% for user in users %}
          <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
          </tr>
        {% endfor %}
  </thead>
</table>
</body>
</html>
